body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

section {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8rem;
  color: #333;
}

pre {
  background-color: #272822; /* Darker background */
  padding: 15px;
  border-radius: 5px;
  white-space: pre-wrap; /* Allow wrapping */
  word-wrap: break-word; /* Break long words if needed */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Specific style for code keywords */
.hljs-keyword {
  color: #f92672; /* Bright pink for keywords */
  font-weight: bold;
}

/* Specific style for strings */
.hljs-string {
  color: #e6db74; /* Yellow for strings */
}

/* Numbers */
.hljs-number {
  color: #ae81ff; /* Purple for numbers */
}

code {
  font-family: monospace;
  font-size: 0.95rem;
  color: #333;
}

/* Screenshot styling */
.screenshot {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: 30px;
}

/* Style for the download button */
.heading-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-button {
  background-color: #ffffff;
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #bac0ca;
}

/* Dropdown Menu Styling */
.dropdown-menu {
  position: absolute;
  top: 25px;
  left: 20px;
}

select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
